---
import { Image, getImage } from 'astro:assets'
import type { Hero } from '../utils/types'
import Button from './Button.astro'
const { image, first_title, link } = Astro.props as Hero
import myBackground from '../assets/warm-water-with-lemon.jpg'
const healthyHero = await getImage({ src: myBackground, format: 'webp' })
---

<div
	class="flex h-[calc(vh-100px)] flex-col overflow-hidden md:h-[450px] md:flex-row lg:h-[700px] xl:h-[700px] 2xl:h-[1000px]"
>
	<!-- Left Image -->
	<div
		class="absolute w-full before:absolute before:inset-0 before:bg-white/30 md:relative md:h-full md:w-1/2 md:before:z-10"
	>
		<Image
			src={healthyHero.src}
			alt="Healthy"
			width={1470}
			height={980}
			widths={[360, 720, 1400]}
			sizes={`(max-width: 720px) 360px, (max-width: 1600px) 720px, (max-width: 3000px) 1400px`}
			class="hero-image w-[200px] object-cover md:h-full md:w-full"
			fetchpriority="high"
			loading="eager"
			decoding="async"
			quality="85"
		/>
	</div>

	<!-- Right Image -->
	<div class="w-full md:relative md:h-full md:w-1/2">
		<Image
			src={image.url}
			widths={[360, 720, 1400]}
			sizes={`(max-width: 720px) 360px, (max-width: 1600px) 720px, (max-width: 3000px) 1400px`}
			alt={image.alt}
			inferSize
			class="hero-image-2 ml-auto mt-28 w-[200px] object-cover md:mt-0 md:h-full md:w-full"
			fetchpriority="high"
			loading="eager"
			decoding="async"
			quality="85"
		/>
	</div>

	<!-- Centered Jumbotron -->
	<div class="inset-0 z-20 flex items-center justify-center md:absolute">
		<div class="max-w-md bg-white/90 p-8 text-center md:p-12">
			<h1 class="mb-4 font-serif text-3xl md:text-4xl">
				{first_title}
			</h1>

			<Button href={link.url} title={link.title} variant="secondary" />
		</div>
	</div>
</div>

<script>
	import SimpleParallax from 'simple-parallax-js/vanilla'
	var image = document.getElementsByClassName('hero-image')
	var image2 = document.getElementsByClassName('hero-image-2')

	new SimpleParallax(image, { delay: 1, scale: 1.15, orientation: 'down left' })
	new SimpleParallax(image2, { scale: 1.1, delay: 1, orientation: 'up right' })
</script>
